<!doctype html>
<html>
<head>
	<title>My TypeScript Twitter!</title>
</head>
<body>
	<h1>TypeScriptTwitter</h1>
  <input type="text" placeholder="new tweet" id="newTweet">
  <input type="submit" id="submit">
	<main>
		<ul id="tweets"></ul>
	</main>
</body>
<script id="tweet-template" type="text/x-handlebars-template">
  <div class="tweet">
    <h2>{{user}}</h2>
    <div class="text">
      {{text}}
    </div>
  </div>
</script>
<script src="client.js"></script>
</html>